*{
    margin:0px;
    padding:0px;
}

table, tr, td{
    border:0px ;
    margin:0px ;
    padding:0px ;   
}

header{
    height:115px;
}

#logo_ben{
    margin-top: 20px;
}

#logo_ben_text_logo{
    font-family: sans-serif;
    font-size: 16px;
    margin: 6px 0px 10px 0px;
}
#logo_ben_text{
    font-family: Verdana;
    font-size: 13px;
    margin-bottom: 15px;
}

.block_banner img{
    width:100%;
    height: auto;
}

footer{
    background-color: #b2b2b2;
    height:125px;
    border-top: 1px solid #d8d8d8;
}


#ben_text_logo_fot{
    margin-top: 25px;
    font-family: 'Gals','Open Sans', arial; 
    color: #fff;
    font-size: 13px;
}

#logo_ben_text_fot_addr{
    font-family: 'Gals','Open Sans', arial; 
    color: #fff;
    margin: 5px 0px 12px 0px;
    font-size: 13px;
}

.slick-list {
    z-index: 10;
}

.prev_nav,
.next_nav{
    transition: opacity 0.5s ease 0s;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 170px;
    background: rgba(47, 46, 46, 0.75);
    cursor: pointer;
    z-index: 50;    
}

.prev_nav:hover,
.next_nav:hover{
    background: rgba(47, 46, 46, 1);
    transition: opacity 0.5s ease 0s;
}

.next_nav{
    right: 0px;
}

.prev_nav{
    left: 0px;
}

.arrows {
    background: url(./tiny_arrows.png) no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 16px;
}

.arrowLeft {
    background-position: 0 0;
    left: 50%;
    margin-left: -4px;
}

.arrowRight {
    background-position: 100% 0;
    right: 50%;
    margin-right: -4px;
}

.slick-slider {
    width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.slick-slide {
    height: auto;
    position: relative;
}

.slick-slide:hover {
    height: auto;
    position: relative;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.slick-slide .desc_auto_mobile{       
    padding: 5px 0px; 
    width: 100%;
    position: absolute;
    background-color: rgba(47, 46, 46, 0.6);
    color: white; 
    z-index: 100;        
    display: block;
    bottom: 0px;        
    opacity: 0;  
    transition: 0.5s;    
    height: 60px;    
} 

.name_model_car{
    font-size: 24px;
    text-shadow: 1px 1px 10px black, 0 0 1em rgb(255, 255, 255);
}

.price_model_car{
    font-size: 26px;
    text-shadow: 1px 1px 10px black, 0 0 1em rgb(255, 0, 0);
}

@media (max-width: 720px){
    .slick-slider {
        width: 80%;
    }    

    .prev_nav,
    .next_nav{
        width: 32px;
        height: 134px;
    }    

    .slick-slide .desc_auto_mobile{               
        height: 30px;
    } 
    
    .name_model_car{
        font-size: 13px;        
    }

    .price_model_car{
        font-size: 14px;        
    }  
} 


@media (max-width: 480px){
    .slick-slider {
        width: 100%;
    }    

    .prev_nav,
    .next_nav{
        width: 24px;
        height: 66px;
    }    

    .slick-slide .desc_auto_mobile{               
        height: 30px;
    }  
}
