*{
    margin:0px;
    padding:0px;
}

table, tr, td{
    border:0px ;
    margin:0px ;
    padding:0px ;   
}

header{
    height:115px;
}

#logo_ben{
    margin-top: 20px;
}

#logo_ben_text_logo{
    font-family: sans-serif;
    font-size: 16px;
    margin: 6px 0px 10px 0px;
}
#logo_ben_text{
    font-family: Verdana;
    font-size: 13px;
    margin-bottom: 15px;
}

footer{
    background-color: #b2b2b2;
    height:99px;
    border-top: 1px solid #d8d8d8;
}


#ben_text_logo_fot{
    margin-top: 25px;
    font-family: 'Gals','Open Sans', arial; 
    color: #fff;
    font-size: 13px;
}

#logo_ben_text_fot_addr{
    font-family: 'Gals','Open Sans', arial; 
    color: #fff;
    margin: 5px 0px 12px 0px;
    font-size: 13px;
}

#table_body{
    width: 100%;
    margin-bottom:15px;  
    display: flex;
    display: -webkit-flex;
}



#table_body tbody, 
#table_body tr,
#block_1,
#block_2,
#block_3,
#block_4,
#block_5,
#block_7{
    width: 100%;
}


#block_1 img,
#block_2 img,
#block_3 img,
#block_4 img,
#block_5 img,
#block_7 img{
    width: 100%;
}
 
.block_6{
    display: inline-flex;
    display: -webkit-inline-flex;
    height: 250px;
    margin: 0px auto;
}   
   
#block_6_0 ,
#block_6_1 ,
#block_6_2 ,
#block_6_3 ,
#block_6_4 ,
#block_6_5{
    width: 357px;
    margin: 5px 0px;
}

.block_6_{
    border-bottom:1px solid #aaa;
    position: relative;
}

#block_6_0 img,
#block_6_1 img,
#block_6_2 img,
#block_6_3 img,
#block_6_4 img,
#block_6_5 img{
    width: 357px;
}
   
.desc_auto{
/*padding: 80px;*/
    font-family: 'Gals','Open Sans', arial; 
    font-size: 17px;
    font-family: 'Gals','Open Sans', arial;
    font-size: 17px;
    display: flex;
    display: -webkit-flex;
    width: 250px;
    margin-top: 80px;
    margin-left: 80px;
}   

.desc_auto_mobile{
    display:none;    
}

.slick-list {
    z-index: 10;
}


.prev_nav,
.next_nav{
    display: block;
    position: absolute; 
    top: 85px;
    background-color: rgba(50,50,50,0.7);
    padding: 30px 10px;
    color: white;
    font-family: monospace;
    font-size: 20px;
    z-index: 50;
    transition: 1s;
}

.prev_nav:hover,
.next_nav:hover{
    background-color: rgba(50,50,50,1);
    transition: 1s;
}

.next_nav{
    right: 0px;
}

.prev_nav{
    left: 0px;
}

@media (max-width: 716px){
    #table_body,
    #table_body tbody,    
    #block_1 img,
    #block_2 img,
    #block_3 img,
    #block_4 img,
    #block_5 img,
    #block_7 img,
    .slick-carousel0,
    .slick-carousel1,
    .slick-carousel2,
    .slick-carousel3,
    .slick-carousel4,
    .slick-carousel5,
    .slick-carousel6{
        width: 100%px;
    }


    #block_6_0 ,
    #block_6_1 ,
    #block_6_2 ,
    #block_6_3 ,
    #block_6_4 ,
    #block_6_5 {
        /*width: 100%;*/
    }

    .desc_auto{
        display:none;
    } 
    
    .desc_auto_mobile{
        padding: 5px 0px; 
        font-size: 13px;
        width: 100%;
        position: absolute;
        background-color: rgba(125,125,125,0.6);
        color: white; 
        z-index: 100;        
        opacity: 1;
        transition: 1s;
        display: block;
        margin-top: -83px;   
    }

    /*
    #block_6_0:hover .desc_auto_mobile,
    #block_6_1:hover .desc_auto_mobile,
    #block_6_2:hover .desc_auto_mobile,
    #block_6_3:hover .desc_auto_mobile,
    #block_6_4:hover .desc_auto_mobile,
    #block_6_5:hover .desc_auto_mobile{ 
        opacity: 1;
        transition: 1s;
    }     
    
    #block_6_0:active .desc_auto_mobile,
    #block_6_1:active .desc_auto_mobile,
    #block_6_2:active .desc_auto_mobile,
    #block_6_3:active .desc_auto_mobile,
    #block_6_4:active .desc_auto_mobile,
    #block_6_5:active .desc_auto_mobile{ 
        opacity: 0;
        transition: 0.3s;
    } 
    */
    
    #block_6_0 img,
    #block_6_1 img,
    #block_6_2 img,
    #block_6_3 img,
    #block_6_4 img,
    #block_6_5 img{
        width: 100%;
    }

    .block_6{
        /*
        margin: 10px auto;
        width: 100%;
        display: table;
        */
    } 

.prev_nav,
.next_nav{
    top: 70px;
    }
} 